name: Build Android Release APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Android SDK
        uses: r0adkll/setup-android@v2
        with:
          api-level: 33
          build-tools: '33.0.2'

      - name: Decode keystore
        run: |
          mkdir -p android/app
          echo "${{ secrets.APK_SIGNING_KEY }}" | base64 --decode > android/app/my-release-key.jks

      - name: Create key.properties
        run: |
          cat > android/key.properties <<EOF
          storeFile=my-release-key.jks
          storePassword=${{ secrets.KEY_STORE_PASSWORD }}
          keyAlias=${{ secrets.KEY_ALIAS }}
          keyPassword=${{ secrets.KEY_PASSWORD }}
          EOF

      - name: Build Release APK
        working-directory: android
        run: ./gradlew clean assembleRelease --no-daemon

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: app/build/outputs/apk/release/*.apk